ion-grid {
  height: 100%;
  justify-content: center;
}

.center {
  text-align: center;
}

body > ion-app > ng-component > ion-nav > page-register > ion-grid > ion-row > ion-col > ion-fab {
  margin-top: 3vh !important;
}

fab-content-margin {
  margin-top: 4vh;
}

#terugbutton
{
background-color: navy;
}

.text-alignment-center {
  text-align: center !important;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

.geheel {
  background-color: white;
  height: 70%;
  border-radius: 10px;
}

.geheel2 {
  background-color: white;
  border-radius: 10px;
  height: 70%;
  margin-bottom: 15%;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
  border-radius: 10px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div {
  border-radius: 10px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 59, 59, 0.61);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

.button3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 20px;
  margin-top: 30px;
  width: 50%;
}

.txt3 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  padding-left: 15px;
}

