<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="col">
                <div class="loginFoto">
                    <div class="form-title"
                         style="background-image: url(http://gazoh.net/images/axa-studios-media-agency-arnhem-maibanner.jpg)">
                        <ion-title class="form-title1" style="color: #ffffff;">Registreer</ion-title>
                    </div>
                </div>
                <div class="geheel2">
                    <form novalidate [formGroup]="form" (ngSubmit)="addUser(form)">
                        <ion-item>
                            <ion-label floating>Username</ion-label>
                            <ion-input type="text" formControlName="username" required></ion-input>
                        </ion-item>
                        <div *ngIf="form.get('username').touched && form.get('username').invalid" class="alert alert-danger">
                            <div *ngIf="form.get('username').hasError('required')">Naam moet ingevuld zijn.</div>
                            <div *ngIf="form.get('username').hasError('pattern')">Ongeldige naam.</div>
                            <div *ngIf="form.get('username').hasError('minLength')">Minder dan 5 letters gebruikt</div>
                        </div>


                        <ion-item>
                            <ion-label floating>E-mail</ion-label>
                            <ion-input type="text" formControlName="email" required></ion-input>
                        </ion-item>
                        <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger">
                            <div *ngIf="form.get('email').hasError('required')">Email is required</div>
                            <div *ngIf="form.get('email').hasError('email')">Invalid Email!</div>
                        </div>


                        <ion-item>
                            <ion-label floating>Password</ion-label>
                            <ion-input type="text" formControlName="password" required></ion-input>
                        </ion-item>
                        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="alert alert-danger">
                            <div *ngIf="form.get('password').hasError('minLength')">Minder dan 5 letters gebruikt</div>
                            <div *ngIf="form.get('password').hasError('required')">Password is required</div>
                        </div>
                    </form>


                    <br>
                        <button class="button3" ion-button (click)="Register()" color="secondary" full round>Aanmaken
                        </button>
                        <br>
                    <a (click)="terug()" class="txt3">
                        Heb je al een account? Meld je nu aan!
                    </a>
                    <br>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
