// Register Button
.registerButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}

.homeButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > form > div:nth-child(1) > ion-item {
  background-color: transparent;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > form > div:nth-child(2) > ion-item {
  background-color: transparent;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > form > div:nth-child(3) > ion-item {
  background-color: transparent;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > form > div:nth-child(5) > ion-item {
  background-color: transparent;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > form > div:nth-child(4) > ion-item {
  background-color: transparent;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-navbar > div.toolbar-background.toolbar-background-md {
  background-color: transparent !important;
}
.labelRegistreer {
  color: #fff !important;
}