<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="profielPadding">Profiel</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateProfile()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-grid class="gridMenu">
      <ion-col col-12 class="menuCol">
        <div class="alignCenter">
          <img src="{{myphoto}}" class="avatar-profiel" (click)="presentActionSheet()" />
          <div class="fotoWijzigen">
            <h5 class="fotoWijzigenProfiel" (click)="presentActionSheet()">Foto Wijzigen</h5>
          </div>
        </div>

        <form novalidate [formGroup]="form">
          <div class="form-group">
            <ion-item [ngClass]="{ 'ng-touched' : form.get('username').touched }">>
              <ion-label floating>Gebruikersnaam</ion-label>
              <ion-input type="text" placeholder="{{username}}" value="{{username}}" formControlName="username" class="form-control"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="form.get('username').touched && form.get('username').invalid" class="alert alert-danger" required>
            <div class="validatieText" *ngIf="form.get('username').hasError('required')">Naam moet ingevuld zijn.</div>
            <div class="validatieText" *ngIf="form.get('username').hasError('pattern')">Ongeldige naam.</div>
            <div class="validatieText" *ngIf="form.get('username').hasError('minLength')">De minimale lengte zijn 3 letters.</div>
          </div>

          <div class="form-group">
            <ion-item [ngClass]="{ 'ng-touched' : form.get('email').touched }">
              <ion-label floating>E-mail</ion-label>
              <ion-input type="email" placeholder="{{email}}" value="{{email}}" formControlName="email" class="form-control"></ion-input>
            </ion-item>
          </div>
          <div *ngIf="form.get('email').touched && form.get('email').invalid" class="alert alert-danger" required>
            <div class="validatieText" *ngIf="form.get('email').hasError('required')">Email moet ingevuld zijn</div>
            <div class="validatieText" *ngIf="form.get('email').hasError('pattern')">Ongeldige Email!</div>
          </div>

        </form>
        <h6 class="wachtwoordWijzigen" (click)="wijzigWachtwoord()">Wijzig Wachtwoord</h6>
      </ion-col>
    </ion-grid>
  </ion-list>
</ion-content>
