<ion-header no-border-bottom>
    <ion-navbar>
        <button ion-button menuToggle right class="fakeCenter">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Bronnen</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
    <ion-segment color="darkAppKleur" [(ngModel)]="page">
        <ion-segment-button value="0" (click)="selectedTab(0)">
            Geabboneerd
        </ion-segment-button>
        <ion-segment-button value="1" (click)="selectedTab(1)">
            Suggesties
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content>
    <ion-slides #slider (ionSlideWillChange)="moveButton($event)">
        <!--  -->
        <!-- Alle Sources die zijn geimport -->
        <!--  -->
        <ion-slide>
            <ion-list>
                <ion-item class="sourceItem" *ngIf="NOS == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/NOS_logo.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/NOS_logo_Wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NOS</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="NOS == 1"
                            (click)="unsubscribeSource('NOS')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="VLKK == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Volkskrant.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Volkskrant_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Volkskrant</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="VLKK == 1"
                            (click)="unsubscribeSource('Volkskrant')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="TGF == 1">
                    <ion-avatar class="avatarTelegraafSources" item-start>
                        <img src="../assets/svg/Telegraaf.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Telegraaf_Wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">De Telegraaf</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="TGF == 1"
                            (click)="unsubscribeSource('De Telegraaf')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="NUNL == 1">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatar-feedNU" src="../assets/svg/nu.nl.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NU.nl</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="NUNL == 1"
                            (click)="unsubscribeSource('NU.NL')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="TWKS == 1">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatarTWKS" src="../assets/svg/Tweakers.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Tweakers</b></div>
                    <div class="sourceTekst">Tech</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="TWKS == 1"
                            (click)="unsubscribeSource('Tweakers')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="KNVB == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/knvb.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">KNVB</b></div>
                    <div class="sourceTekst">Sport</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="KNVB == 1"
                            (click)="unsubscribeSource('KNVB')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="NUNLFIN == 1">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatar-feedNU" src="../assets/svg/nu.nl.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NU.nl</b></div>
                    <div class="sourceTekst">Economie</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="NUNLFIN == 1"
                            (click)="unsubscribeSource('NU.nl Financieel')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="VLKKE == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Volkskrant.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Volkskrant_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Volkskrant</b></div>
                    <div class="sourceTekst">Economie</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="VLKKE == 1"
                            (click)="unsubscribeSource('Volkskrant Economie')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="BTYL == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Beautylab.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Beautylab</b></div>
                    <div class="sourceTekst">Lifestyle</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="BTYL == 1"
                            (click)="unsubscribeSource('Beautylab')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="LBL == 1">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/libelle.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/libelle_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Libelle</b></div>
                    <div class="sourceTekst">Lifestyle</div>
                    <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="LBL == 1"
                            (click)="unsubscribeSource('Libelle')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Verwijderen
                    </button>
                </ion-item>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <ion-list>
                <!--  -->
                <!-- Alle Sources die je kunt importen -->
                <!--  -->
                <ion-item class="sourceTitel" *ngIf="NOS != 1 || VLKK != 1 || TGF != 1 || NUNL != 1">
                    <h4 class="TitelSources">Algemeen</h4>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="NOS == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/NOS_logo.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/NOS_logo_Wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NOS</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="NOS == 0"
                            (click)="subscribeSource('NOS')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="VLKK == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Volkskrant.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Volkskrant_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Volkskrant</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="VLKK == 0"
                            (click)="subscribeSource('Volkskrant')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="TGF == 0">
                    <ion-avatar class="avatarTelegraafSources" item-start>
                        <img src="../assets/svg/Telegraaf.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Telegraaf_Wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">De Telegraaf</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="TGF == 0"
                            (click)="subscribeSource('De Telegraaf')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="NUNL == 0">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatar-feedNU" src="../assets/svg/nu.nl.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NU.nl</b></div>
                    <div class="sourceTekst">Algemeen</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="NUNL == 0"
                            (click)="subscribeSource('NU.NL')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceTitel"  *ngIf="TWKS != 1">
                    <h4 class="TitelSources">Tech</h4>
                </ion-item>
                <ion-item class="sourceTitelHidden" *ngIf="TWKS == 1"></ion-item>
                <ion-item class="sourceItem" *ngIf="TWKS == 0">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatarTWKS" src="../assets/svg/Tweakers.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Tweakers</b></div>
                    <div class="sourceTekst">Tech</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="TWKS == 0"
                            (click)="subscribeSource('Tweakers')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceTitel" *ngIf="KNVB != 1">
                    <h4 class="TitelSources">Sport</h4>
                </ion-item>
                <ion-item class="sourceTitelHidden" *ngIf="KNVB == 1"></ion-item>
                <ion-item class="sourceItem" *ngIf="KNVB == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/knvb.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">KNVB</b></div>
                    <div class="sourceTekst">Sport</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="KNVB == 0"
                            (click)="subscribeSource('KNVB')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceTitel" *ngIf="NUNLFIN != 1 || VLKKE != 1">
                    <h4 class="TitelSources">Financieel</h4>
                </ion-item>
                <ion-item class="sourceTitelHidden" *ngIf="NUNLFIN == 1"></ion-item>
                <ion-item class="sourceItem" *ngIf="NUNLFIN == 0">
                    <ion-avatar class="avatar" item-start>
                        <img class="avatar-feedNU" src="../assets/svg/nu.nl.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">NU.nl</b></div>
                    <div class="sourceTekst">Economie</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="NUNLFIN == 0"
                            (click)="subscribeSource('NU.nl Financieel')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="VLKKE == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Volkskrant.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/Volkskrant_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Volkskrant</b></div>
                    <div class="sourceTekst">Economie</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="VLKKE == 0"
                            (click)="subscribeSource('Volkskrant Economie')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceTitel" *ngIf="BTYL != 1 || LBL != 1">
                    <h4 class="TitelSources">Lifestyle</h4>
                </ion-item>
                <ion-item class="sourceTitelHidden" *ngIf="BTYL == 1 && LBL == 1"></ion-item>
                <ion-item class="sourceItem" *ngIf="BTYL == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/Beautylab.svg">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Beautylab</b></div>
                    <div class="sourceTekst">Lifestyle</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="BTYL == 0"
                            (click)="subscribeSource('Beautylab')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
                <ion-item class="sourceItem" *ngIf="LBL == 0">
                    <ion-avatar class="avatar" item-start>
                        <img src="../assets/svg/libelle.svg" *ngIf="currentTheme == 'light-theme'">
                        <img src="../assets/svg/libelle_wit.svg" *ngIf="currentTheme == 'dark-theme'">
                    </ion-avatar>
                    <div><b class="sourceTekstFeed">Libelle</b></div>
                    <div class="sourceTekst">Lifestyle</div>
                    <button ion-button outline item-end class="ImportClassesButton" *ngIf="LBL == 0"
                            (click)="subscribeSource('Libelle')">
                        <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                        Toevoegen
                    </button>
                </ion-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
