<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="!isSearchbaropened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbaropened" class="algemeenText">Algemeen</ion-title>
    <!-- Searchbar  -->
    <ion-searchbar #searchbar *ngIf="isSearchbaropened" [showCancelButton]="true" (ionCancel)="resetChanges()" (ionInput)="search($event)" placeholder="Waar zijn we naar op zoek?" class="slideInRight"></ion-searchbar>
    <!-- Searchbar icon -->
    <ion-buttons end>
      <button ion-button icon-only (click)="isSearchbaropened=true">
        <ion-icon name="search" *ngIf="!isSearchbaropened"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- Segment -->
  <ion-segment [(ngModel)]="datepicker" color="lightAppKleur">
    <ion-segment-button value="vandaag" (click)="load()">
      Vandaag
    </ion-segment-button>
    <ion-segment-button value="gisteren" (click)="loadYesterday()">
      Gisteren
    </ion-segment-button>
    <ion-segment-button value="driedagengeleden" (click)="load3DaysAgo()">
      3 dagen geleden
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <!-- Swipe up refresher  -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="Sleep omlaag om te verversen"></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of items" col-md-6 col-sm-6 col-lg-6 col-xl-6>
        <ion-card>
          <!-- Images van nieuwsfeed -->
          <div class="ion-card-image-wrapper" (click)="viewEntry({ record: item })">
            <img *ngIf="!item.image" src="../assets/imgs/noimage.jpg">
            <img [src]="item.image" *ngIf="item.site == 'NOS.nl'">
            <img [src]="item.image" *ngIf="item.site != 'NOS.nl' || item.site != 'NU.nl'">
          </div>
          <ion-card-content>
            <!-- Admin only hide functie -->
            <div *ngIf="rol == 1">
              <ion-fab right *ngIf="item.site == 'De Telegraaf'">
                <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorTelegraaf2">
                  <ion-icon name="eye-off"></ion-icon>
                </button>
              </ion-fab>
              <ion-fab right *ngIf="item.site == 'NOS'">
                <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorNOS2">
                  <ion-icon name="eye-off"></ion-icon>
                </button>
              </ion-fab>
              <ion-fab right *ngIf="item.site == 'NU.nl'">
                <button ion-fab mini (click)="setHideArticle(item.id)" class="ColorNU2">
                  <ion-icon name="eye-off"></ion-icon>
                </button>
              </ion-fab>
            </div>
            <!-- Title  -->
            <div id="title" (click)="viewEntry({ record: item })">
              <ion-card-title class="TitleFeed" *ngIf="rol != 1">
                <strong>{{item.title}}</strong>
              </ion-card-title>
              <ion-card-title class="editTitleFeed" *ngIf="rol == 1">
                <strong>{{item.title}}</strong>
              </ion-card-title>
            </div>
            <!-- description  -->
            <div id="description" (click)="viewEntry({ record: item })">
              <p *ngIf="rol != 1" class="descriptionFeed">{{htmlToPlaintext(item.description) | slice:0:120}}...</p>
              <p *ngIf="rol == 1" class="editDescriptionFeed">{{htmlToPlaintext(item.description) | slice:0:120}}...</p>
            </div>
          </ion-card-content>
          <!-- Ion-badges  -->
          <ion-item (click)="viewEntry({ record: item })" class="badgeItem">
            <ion-icon name="contact" item-start></ion-icon>
            <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.site}}
            </ion-badge>
            <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.site}}</ion-badge>
            <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.site}}</ion-badge>
          </ion-item>
          <ion-item (click)="viewEntry({ record: item })" class="badgeItem">
            <ion-icon name="time" item-start></ion-icon>
            <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.datum}}
            </ion-badge>
            <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.datum}}</ion-badge>
            <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.datum}}</ion-badge>
          </ion-item>
          <!-- Social Buttons - Comments - likes - Share -->
          <div id="socialLikeComments" class="socialLikeComments">
            <button ion-button icon-start clear *ngIf="item.site == 'De Telegraaf'" (click)="setLike(item.id)" class="socialTelegraaf">
              <ion-icon name="heart"></ion-icon>
              <div *ngIf="item.likes == 1">{{item.likes}} Like</div>
              <div *ngIf="item.likes != 1">{{item.likes}} Likes</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NOS'" (click)="setLike(item.id)" class="socialNOS">
              <ion-icon name="heart"></ion-icon>
              <div *ngIf="item.likes == 1">{{item.likes}} Like</div>
              <div *ngIf="item.likes != 1">{{item.likes}} Likes</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NU.nl'" (click)="setLike(item.id)" class="socialNu">
              <ion-icon name="heart"></ion-icon>
              <div *ngIf="item.likes == 1">{{item.likes}} Like</div>
              <div *ngIf="item.likes != 1">{{item.likes}} Likes</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'De Telegraaf'" class="socialTelegraaf" (click)="viewComments({ record: item })">
              <ion-icon name="chatbubbles"></ion-icon>
              <div *ngIf="item.comments == 1">{{item.comments}} Reactie</div>
              <div *ngIf="item.comments != 1">{{item.comments}} Reacties</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NOS'" class="socialNOS" (click)="viewComments({ record: item })">
              <ion-icon name="chatbubbles"></ion-icon>
              <div *ngIf="item.comments == 1">{{item.comments}} Reactie</div>
              <div *ngIf="item.comments != 1">{{item.comments}} Reacties</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NU.nl'" class="socialNu" (click)="viewComments({ record: item })">
              <ion-icon name="chatbubbles"></ion-icon>
              <div *ngIf="item.comments == 1">{{item.comments}} Reactie</div>
              <div *ngIf="item.comments != 1">{{item.comments}} Reacties</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'De Telegraaf'" class="socialTelegraaf">
              <ion-icon name="share-alt"></ion-icon>
                <div>Deel</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NOS'" class="socialNOS">
              <ion-icon name="share-alt"></ion-icon>
                <div>Deel</div>
            </button>
            <button ion-button icon-start clear *ngIf="item.site == 'NU.nl'" class="socialNu">
              <ion-icon name="share-alt"></ion-icon>
                <div>Deel</div>
            </button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
