<ion-header>
  <ion-navbar>
    <ion-searchbar #searchbar *ngIf="isSearchbaropened" [showCancelButton]="true" (ionCancel)="isSearchbaropened=false"
     (ionInput)="search($event)" placeholder="Waar zijn we naar op zoek?" class="slideInRight"></ion-searchbar>
    <button ion-button menuToggle *ngIf="!isSearchbaropened">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchbaropened">Home</ion-title>
   <ion-buttons end>
      <button ion-button icon-only (click)="isSearchbaropened=true">
        <ion-icon name="search" *ngIf="!isSearchbaropened"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-segment [(ngModel)]="datepicker" color="primary">
    <ion-segment-button value="vandaag" (click)="load()">
      Vandaag
    </ion-segment-button>
    <ion-segment-button value="gisteren" (click)="loadYesterday()">
      Gisteren
    </ion-segment-button>
    <ion-segment-button value="driedagengeleden" (click)="load3DaysAgo()">
      3 dagen geleden
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of items" (click)="viewEntry({ record: item })">
    <!-- <ion-fab left>
      <button ion-fab mini>
        <ion-icon name="add"></ion-icon>
      </button>
      <ion-fab-list side="right">
        <button ion-fab (click)="facebookShare()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button ion-fab (click)="whatsappShare ()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
        <button ion-fab (click)="twitterShare()">
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab> -->
    <div class="ion-card-image-wrapper">
          <img *ngIf="!item.image" src="http://gazoh.net/images/noimage.jpg">
          <img [src]="item.image" *ngIf="item.site == 'NOS.nl'" class="transformFoto">
          <img [src]="item.image" *ngIf="item.site == 'NU.nl'"  class="transformFoto">
          <img [src]="item.image" *ngIf="item.site != 'NOS.nl' || item.site != 'NU.nl'">
      </div>
    <ion-card-content>
      <ion-card-title>
        <strong>{{item.title}}</strong>
      </ion-card-title>
      <p>{{htmlToPlaintext(item.description) | slice:0:120}}...</p>
    </ion-card-content>

    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.site}}</ion-badge>
      <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.site}}</ion-badge>
      <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.site}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      <ion-badge item-end *ngIf="item.site == 'De Telegraaf'" class="ColorTelegraaf">{{item.datum}}</ion-badge>
      <ion-badge item-end *ngIf="item.site == 'NOS'" class="ColorNOS">{{item.datum}}</ion-badge>
      <ion-badge item-end *ngIf="item.site == 'NU.nl'" class="ColorNU">{{item.datum}}</ion-badge>
    </ion-item>
  </ion-card>
</ion-content>
