<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of items">
    <img *ngIf="!item.image" src="http://gazoh.net/images/noimage.jpg">
    <img [src]="item.image">
    <ion-card-content>
      <ion-card-title>
        <strong>{{item.title}}</strong>
      </ion-card-title>
      <p>{{htmlToPlaintext(item.description) | slice:0:120}}...</p>
    </ion-card-content>


<!-- Funtie nog schrijven voor if == nu.nl of andere website set badge kleur  -->
    <ion-item>
      <ion-icon name="contact" item-start></ion-icon>
      <ion-badge item-end>{{item.site}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="time" item-start></ion-icon>
      <ion-badge item-end>{{item.datum}}</ion-badge>
    </ion-item>


  </ion-card>
</ion-content>
