<ion-header no-border-bottom>
    <ion-navbar>
        <button ion-button menuToggle right class="fakeCenter">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Instellingen</ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="emailVerified == 0" class="cardVerification">
        <div class="containerVerification">
            <ion-card-header class="verificationHeader">
                <ion-icon name="alert" class="alertIcon"></ion-icon>
                Verifieer je email
            </ion-card-header>
            <ion-card-content class="verificationContent">
                <p class="emailVerificationText">Controleer uw e-mailadres en volg de instructies om uw account te verifiëren. Als u een e-mail niet hebt ontvangen of als het is verlopen, kunt u opnieuw een verzenden.</p>
                <button ion-button block (click)="resendMail()" class="buttonStuurOpnieuwVerification"><span class="verifyText">Verifieer</span></button>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-item class="" (click)="goProfiel()">
        <ion-label class="DarkLabel">
            <ion-icon name="person" class="iconInstellingen"></ion-icon>
            Bewerk Profiel
        </ion-label>
    </ion-item>
    <ion-item class="" (click)="rapporteer()">
        <ion-label class="DarkLabel">
            <ion-icon name="warning" class="iconInstellingen"></ion-icon>
            Raporteer probleem
        </ion-label>
    </ion-item>
    <ion-item class="">
        <ion-label class="DarkLabel">
            <ion-icon name="moon" class="iconInstellingen"></ion-icon>
            Dark Theme
        </ion-label>
        <ion-toggle [(ngModel)]="toggleStatus" (ionChange)="toggleAppTheme()"></ion-toggle>
    </ion-item>
    <ion-item class="" (click)="privacyBeleid()">
        <ion-label class="DarkLabel">
            <ion-icon name="eye-off" class="iconInstellingen"></ion-icon>
            Privacy Beleid
        </ion-label>
    </ion-item>
    <ion-item class="" *ngIf="rol == 1" (click)="openAdmin()">
        <ion-label class="DarkLabel">
            <ion-icon name="construct" class="iconInstellingen"></ion-icon>
            Admin panel
        </ion-label>
    </ion-item>
    <ion-item class="" (click)="uitloggen()">
        <ion-label class="DarkLabel">
            <ion-icon name="log-out" class="iconInstellingen"></ion-icon>
            Uitloggen
        </ion-label>
    </ion-item>
</ion-content>
