.dark-theme{
  ion-content{
    background-color: #000000;
  }

  .toolbar-title{
    color: #ffffff;
  }
  p {
    color: #fff;
  }
  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: #000;
  }
}