.dark-theme {

  // lOGIN
  .darkThemeLogin {
    background-color: #1c1c1c !important;
  }

  .grid {
    background-color: transparent !important;
  }
  //background
  ion-content {
    background-color: #1c1c1c !important;
  }

  .toolbar-title {
    color: #ffffff !important;
  }

  .DarkLabel {
    color: #fff;
    border: none;
  }

  .dark-theme .darkItem {
    background-color: #212121 !important;
  }
  //header voor pagina
  .header .toolbar-background {
    background-color: #29708c !important;
  }

  .ionTitle {
    background-color: #212121 !important;
  }

  .label-md {
    color: #FFFFFF !important;
  }

  .uitloggen {
    background-color: #212121 !important;
  }

  .item-ios.item-block .item-inner {
    border: none;
  }

  .menu {
    background-color: #212121;
  }
  // Menu
  .adminUsers {
    background-color: transparent !important;
  }

  .menuBuitenkant {
    background-color: #212121;
    color: #fff;
  }

  .menuScherm {
    background-color: #212121 !important;
    color: #fff;
  }

  #contentAnimation > div.scroll-content > ion-list > ion-footer > ion-toolbar > div.toolbar-background.toolbar-background-md {
    background-color: #000 !important
  }

  .toolbar-background {
    background-color: #262626 !important;
  }

  .versienummer {
    color: #fff;
  }

  #contentAnimation > div.scroll-content {
    background-color: #1c1c1c !important;
  }

  .segment-md-dark .segment-button {
    color: #FFF;
  }

  .segment-md-dark .segment-button.activated,
  .segment-md-dark .segment-button.segment-activated {
    color: #FFF;
  }

  .sourceTekst {
    background-color: #1c1c1c !important;
  }

  .sourceItem {
    background-color: #242424;
  }

  .sourceTitel {
    background-color: #222222;
    color: #fff;
  }

  .TitelSources {
    color: #fff;
  }

  p {
    color: #fff;
  }

  h4 {
    color: #FFF;
  }

  h2 {
    color: #FFF;
  }

  b {
    color: #FFF;
  }

  .card-content-md {
    background-color: #262626;
    color: #FFF;
  }

  .BadgesFeed {
    background: #2f2f2f !important;
  }

  .card-md p {
    color: #d4d4d4;
  }
  //titel van card feed
  b,
  strong {
    color: #FFF;
  }
  //div badges en title van de krant(telegraaf etc.)
  .item-md {
    background-color: #1c1c1c;
    color: #FFF;
  }

  .headerText {
    background-color: #1c1c1c !important;
    color: #FFF;
  }

  .nieuwsContent {
    background-color: #1c1c1c !important;
  }

  .segment-md-dark .segment-button.segment-activated {
    border-color: #fff;
  }

  .segmentClass {
    background-color: #242424;
  }

  .card-md {
    background: #262626 !important
  }
  // Button voor de sources
  .ImportClassesButton {
    background-color: #328a45;
    color: #fff;
  }

  .DeleteClassesButton {
    color: #fff;
    background-color: #e93a3a;
  }
  //button voor het menu
  .bar-button-clear-md-default,
  .bar-button-default-md,
  .bar-button-md-default {
    background-color: #29708c;
    color: white;
  }
  // Icon margin
  .iconInstellingen {
    margin-right: 2rem !important;
  }

  .validatieText {
    color: #fff;
  }

  .itemBadge {
    background-color: #2f2f2f !important;
  }

  .socialNu {
    color: #fff !important;
  }

  .socialTelegraaf {
    color: #fff !important;
  }

  .socialTelegraafShare {
    float: left;
    color: #3f80f7!important;
  }

  .darkChatTelegraaf {
    color: #3f80f7!important;
  }

  .socialNuShare {
    float: left;
    color: #0041b5 !important;
  }

  .darkChatNU {
    color: #0041b5 !important;
  }

  .socialNOSShare {
    float: left;
    color: #ff3728 !important;
  }

  .darkChatNOS {
    color: #ff3728 !important;
  }



  .darkHeartOutline {
    color: #f73f3f !important;
  }

  .darkHeartFull {
    color: #f73f3f !important;
  }

  .socialNOS {
    color: #fff !important;
  }

  .socialLikeComments {
    background-color: #262626 !important;
  }

  .badgeItem {
    background-color: #2f2f2f !important;
    color: #FFF;
  }

  .ion-page {
    background-color: #212121 !important;
  }
  //reactiescherm
  .commentUsername{
    Color: #FFF !important;
  }
  .commentDate{
    color: #FFF !important;
  }
  //loginpagina
  .loginPagina {
    background-color: #1c1c1c !important;
    color: black;
    h2 {
      color: #fff;
    }
    .grid {
      background-color: #1c1c1c !important;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
      border-bottom-color: #2f2f2f !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .datumFeed {
    color: #d4d4d4 !important;
  }

  .nieuwsDatum {
    color: #d4d4d4 !important;
  }

  body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-navbar > div.toolbar-background.toolbar-background-md {
    background-color: transparent !important;
  }

}
