page-nieuws {

  .platform-ios .headerText.toolbar.toolbar-md {
    padding-top: 17px !important;
    height: 67px !important;
  }

  .platform-core .headerText.toolbar.toolbar-md {
    padding-top: 17px !important;
    height: 67px !important;
  }

}
