w<ion-header>
  <meta charset="UTF-8">
  <ion-navbar class="nieuwsNavTitle">{{this.title}}</ion-navbar>
</ion-header>
<ion-content>
  <ion-card class="nieuwsCard">
    <img *ngIf="this.image && this.site != 'Tweakers' && network.type != 'none'" src="{{this.image}} " class="imageNieuws">
    <img *ngIf="this.site == 'Tweakers'" src="../assets/imgs/tweakers.png" class="imageNieuwsTweakers">
    <img *ngIf="this.site == 'Beautylab'" src="../assets/imgs/beautylab.png" class="imageNieuwsTweakers">
    <img *ngIf="this.site == 'Libelle'" src="../assets/imgs/libelle.png" class="imageNieuwsTweakers">
    <img *ngIf="this.site == 'Volkskrant'" src="../assets/imgs/volkskrant.png" class="imageNieuwsTweakers">
    <img *ngIf="this.site == 'Volkskrant Economie'" src="../assets/imgs/volkskrant.png" class="imageNieuwsTweakers">
    <img *ngIf="this.site == 'NOS' && network.type == 'none'" src="../assets/imgs/NOS.png" class="imageNieuws">
    <img *ngIf="this.site == 'NU.nl' && network.type == 'none'" src="../assets/imgs/NUNL.png" class="imageNieuws">
    <img *ngIf="this.site == 'De Telegraaf' && network.type == 'none'" src="../assets/imgs/telegraaf.png" class="imageNieuws">
    <img *ngIf="this.site == 'KNVB' && network.type == 'none'" src="../assets/imgs/KNVB.png" class="imageNieuws">
    <ion-card-header class="headerText" text-wrap>
      {{this.title}}
      <p class="nieuwsDatum">{{this.datum}}</p>
    </ion-card-header>
    <ion-card-content class="nieuwsContent">
      <p>{{htmlToPlaintext(this.description)}}</p>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'De Telegraaf'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'NOS'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'NU.nl'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'NU.nl Economie'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'Tweakers'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'KNVB'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'Volkskrant'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'VLKKE'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'BTYL'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <button (click)="openPagina(this.link)" ion-button full outline *ngIf="this.site == 'LBL'" class="ColorDarkAppNieuws">Lees verder op {{this.site}}</button>
      <!-- Social Buttons - Comments - likes - Share -->
      <div id="socialLikeComments" class="socialLikeCommentsNieuws">
        <button ion-button icon-start clear *ngIf="this.site == 'De Telegraaf'"
                class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'NOS'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'NU.nl'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'Tweakers'"
                class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'KNVB'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'Volkskrant'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'VLKKE'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'BTYL'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <button ion-button icon-start clear *ngIf="this.site == 'LBL'" class="ColorDarkAppShare"
                (click)="shareInfo(this.title, this.image, this.link)">
          <ion-icon name="share-alt"></ion-icon>
        </button>
        <!---->
        <button class="socialTelegraaf" ion-button icon-start clear
                *ngIf="this.site == 'De Telegraaf' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialNOS" ion-button icon-start clear
                *ngIf="this.site == 'NOS' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme"> {{this.likes}}</div>
        </button>
        <button class="socialNu" ion-button icon-start clear
                *ngIf="this.site == 'NU.nl' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialTweakers" ion-button icon-start clear
                *ngIf="this.site == 'Tweakers' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'KNVB' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'Volkskrant' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'VLKKE' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'BTYL' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'LBL' && this.liked == 0" [disabled]="disabled"
                (click)="setLike(this.id)">
          <ion-icon name="heart-outline" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <!---->
        <button class="socialTelegraaf" ion-button icon-start clear
                *ngIf="this.site == 'De Telegraaf' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialNOS" ion-button icon-start clear
                *ngIf="this.site == 'NOS' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialNu" ion-button icon-start clear
                *ngIf="this.site == 'NU.nl' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialTweakers" ion-button icon-start clear
                *ngIf="this.site == 'Tweakers' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'KNVB' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'Volkskrant' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'VLKKE' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'BTYL' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
        <button class="socialKnvb" ion-button icon-start clear
                *ngIf="this.site == 'LBL' && this.liked == 1"
                (click)="dislike(this.id, this.title)">
          <ion-icon name="heart" class="ColorDarkApp"></ion-icon>
          <div class="ColorDarkAppTextDarkTheme">{{this.likes}}</div>
        </button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
