// Fontawesome
@import "www/assets/scss/fontawesome.scss";
@import "www/assets/scss/solid.scss";
@import "www/assets/scss/brands.scss";

.user {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}

// Register Button

.registerButton {
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 0 !important;
  width: 50% !important;
  box-shadow: none;
  text-transform: uppercase;
}

.homeButton {
  margin: 0 !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 0 !important;
  width: 50% !important;
  box-shadow: none;
  text-transform: uppercase;
}

.button-ios {
  font-size: 1.4rem !important;
}
// Register TEXT

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}
// Login Text

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

ion-grid {
  height: 100%;
  justify-content: center;
}

.center {
  text-align: center;
}

body > ion-app > ng-component > ion-nav > page-register > ion-grid > ion-row > ion-col > ion-fab {
  margin-top: 3vh !important;
}

fab-content-margin {
  margin-top: 4vh;
}

#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(1) {
  display: block;
  text-transform: capitalize;
}

#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(1) > div.item-inner > div > ion-label::first-letter {
  text-transform: capitalize !important;
}

#terugbutton {
  background-color: navy;
}

.text-alignment-center {
  text-align: center !important;
}

.ion-page {
  background-color: white;
}

.ios .ion-page.show-page ~ .nav-decor {
  background-color: white !important;
}

.grid {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebeeef;
}

.geheel {
  background-color: white;
  height: 65%;
  border-radius: 10px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0 74px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  text-transform: uppercase;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

.center {
  text-align: center;
}

ion-grid {
  height: 100%;
  justify-content: center;
}
// Background color

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}
// Login text

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > ion-title > div {
  color: white !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: right;
  padding-right: 10px;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}
// scroll content

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content {
  background-color: #ebeeef;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}
// Row van buttons

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > div {
  bottom: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > div {
  bottom: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.button3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: rgb(36, 36, 75) !important;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
}

.txt3 {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  padding-left: 15px;
}
// Android

.bar-button-md {
  margin: 0 0.2rem;
  padding: 0 5px;
  border-radius: 2px;
  height: 32px;
  border: 0;
  font-weight: 500;
  text-transform: uppercase;
}

.bar-button-menutoggle,
ion-buttons {
  z-index: 99;
}

.bar-button-clear-md-default,
.bar-button-default-md,
.bar-button-md-default {
  color: #FFF !important;
  background-color: transparent;
}

.toolbar-title-md {
  text-align: center !important;
  padding: 0 12px;
  font-weight: 500;
  color: #FFF !important;
}
// Navbar

// box-shadow
body > ion-app > ng-component > ion-nav > page-category > ion-header > ion-navbar {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2) !important;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2) !important;
}

// navbar voor de animatie
body > ion-app > ng-component > ion-nav > page-feed > ion-header > ion-navbar {
  overflow: inherit !important;
}

//

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.item-ios.item-block .item-inner.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.item-ios.item-block .item-inner.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.validatieText {
  padding-left: 1.5rem !important;
  padding-top: 0.5rem !important;
}

.bar-button-clear-ios-default,
.bar-button-default-ios,
.bar-button-default.bar-button-ios-default {
  color: #fff;
}
// Cards

.Card {
  border-radius: 1rem;
}
//Header

.toolbar-background {
  background-color: rgb(20, 20, 20) !important;
}

.toolbar-title-ios {
  color: white;
}
// Menu
// Algemeen
// Text van de menu {Home, Categorie, etc..}

#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button > div.item-inner > div > ion-label {
  text-align: left !important;
}

.menu-titles {
  padding: 0 0 0 25px;
}

.hide-card {
  -webkit-box-shadow: none!important;
}

.custom-avatar {
  height: 20vw;
  width: 20vw;
  border-radius: 50%;
  display: inline-block;
  margin: auto;
  display: block;
}

.gridMenu {
  background-color: transparent !important;
  height: 20vh !important;
}

.usernameMenu {
  color: white;
  text-align: center;
  margin-top: 3%;
}

#contentAnimation > div.scroll-content > ion-list > ion-navbar > div.toolbar-background.toolbar-background-md {
  background-image: url("../assets/imgs/backgroundMenu.jpg");
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  position: absolute;
  background-color: transparent !important;
}
// Icon van de menu

#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button > div.item-inner > div > ion-label > ion-icon {
  float: left !important;
}

.list-md .item-block .item-inner {
  border-bottom: 0;
}

#contentAnimation > div.scroll-content > ion-list > ion-footer > ion-toolbar > div.toolbar-background.toolbar-background-md {
  background-color: #fff !important;
  color: #000!important;
}

.versienummer {
  margin: 0 0 0 25px;
}
// Card

.card-title2 {
  position: absolute !important;
  font-size: 150% !important;
  width: 100% !important;
  font-weight: bold!important;
  text-align: end !important;
  top: 80% !important;
  right: 5% !important;
  color: #fff !important;
  text-shadow: 0 0 7px #000000;
}
// Custom Transitions
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
// Cards Design FEED Page

.ColorTelegraaf {
  background-color: rgb(85,122,149) !important;
}

.ColorNU {
  background-color: rgb(177,162,150) !important;
}

.ColorNOS {
  background-color: rgb(93,92,97) !important;
}

.headerText {
  font-weight: bold;
  font-size: 2rem;
}
// FEED images

page-feed img {
  text-align: center !important;
  display: block !important;
  margin: 0 auto !important;
  vertical-align: middle !important;
  overflow: hidden !important;
  min-height: 200px!important;
  max-height: 320px!important;
}

.ion-card-image-wrapper {
  overflow: hidden !important;
  background: url("../../assets/imgs/noimage.jpg");
  height: 205px;
  align-content: center;
}

//Transitions

// slideInRight
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  animation-duration: 300ms !important;
}

//slideInLeft

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLefts;
  animation-duration: 300ms;
}
