// Register Button
.registerButton {
  margin: 0% !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 0 !important;
  width: 50% !important;
  box-shadow: none;
  text-transform: uppercase;
}
.homeButton {
  margin: 0% !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 0 !important;
  width: 50% !important;
  box-shadow: none;
  text-transform: uppercase;
}

.button-ios {
  font-size: 1.4rem !important;
}

// Register TEXT
body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div
{
  color:white;
}

// Login Text
body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

ion-grid {
  height: 100%;
  justify-content: center;
}

.center {
  text-align: center;
}

body > ion-app > ng-component > ion-nav > page-register > ion-grid > ion-row > ion-col > ion-fab {
  margin-top: 3vh !important;
}

fab-content-margin {
  margin-top: 4vh;
}
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(1) {
  display: block;
  text-transform: capitalize;
}

#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(1) > div.item-inner > div > ion-label::first-letter {
text-transform: capitalize !important;
}

#terugbutton {
  background-color: navy;
}

.text-alignment-center {
  text-align: center !important;
}

.ion-page {
  background-color: white;
}

.ios .ion-page.show-page ~ .nav-decor {
  background-color: white !important;
}

.grid {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebeeef;
}

.geheel {
  background-color: white;
  height: 65%;
  border-radius: 10px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0px 74px 0px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  text-transform: uppercase;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

.center {
  text-align: center;
}

ion-grid {
  height: 100%;
  justify-content: center;
}

// Background color
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

// Login text
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > ion-title > div {
  color: white !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: right;
  padding-right: 10px;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: left;
  margin-left: 15px;
  margin-top: 15px;

}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

// scroll content
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content {
  background-color: #ebeeef;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}


body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

// Row van buttons
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > div {
  bottom: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

// Button placement van uitloggen in menu
#myMenu > div > ion-content > div.scroll-content > ion-list > button.disable-hover.button.button-md.button-outline.button-outline-md.button-full.button-full-md.button-outline-md-danger {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 10;
  display: block;
  width: 100%;
}


// REGISTER ------------------------------------------------

// Row
body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > div {
  bottom: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.button3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: rgb(79, 0, 11) !important;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 50%;
  margin:auto;
  text-transform: uppercase;

}

.txt3 {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  padding-left: 15px;
}

// Android


.bar-button-md {
margin: 0 0.2rem;
    padding: 0 5px;
    border-radius: 2px;
    height: 32px;
    border: 0;
    font-weight: 500;
    text-transform: uppercase;
}

ion-buttons, .bar-button-menutoggle {
    z-index: 99;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default {
  color: #FFF !important;
  background-color: transparent;
}

.toolbar-title-md {
  text-align: center !important;
  padding: 0 12px;
  font-size: 2rem;
  font-weight: 500;
  color: #FFF !important;
}

ion-header button, .back-button {
  position: absolute !important;
  z-index: 5;
}


ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}



.item-ios.item-block .item-inner.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.item-ios.item-block .item-inner.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.validatieText {
  padding-left: 1.5rem !important;
  padding-top: 0.5rem !important;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #fff;
}


// Cards
.Card {
  border-radius: 1rem;
}

//Header
.toolbar-background {
  background-color: rgb(79, 0, 11) !important;
}

.toolbar-title-ios {
  color: white;
}

// Pages
#myMenu > div > ion-content > div.scroll-content > ion-list {
    left: 0 !important;
    bottom: 0 !important;
    position: absolute !important;
    z-index: 10 !important;
    display: block !important;
    width: 100% !important;
    margin-bottom: 0 !important;
}

.menu-inner {
    width: 100% !important;
}

// Menu text
// Hele Menu
#contentAnimation > div.scroll-content > ion-list > ion-item {
     border-top-left-radius: 25px;
     border-top-right-radius: 25px;
}


// Username
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(1) > div.item-inner > div > ion-label {
  font-weight: 600;
  margin-bottom: -1.4rem !important;
  padding-left: 4.5rem !important;
}

// Email Label
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(2) > div.item-inner > div > ion-label {
  padding-left: 4.5rem !important;
  font-size: 1.5rem;
}

// Email div
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(2) > div.item-inner > div {
  height: 40% !important;
  color: #7F7F7F !important;
}


// Categorieën Label
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(3) > div.item-inner > div {
  font-size: 1.5rem !important;
}

// Categorieën Icon
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(3) > div.item-inner > div > ion-label > ion-icon {
  padding-right: 3rem !important;
  color: #8B8B8B !important;
  font-size: 2rem !important;
}

// Favorieten Label
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(4) > div.item-inner > div > ion-label {
  font-size: 1.5rem !important;
}

// Favorieten Icon
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(4) > div.item-inner > div > ion-label > ion-icon {
  padding-right: 3rem !important;
  color: #8B8B8B !important;
  font-size: 2rem !important;
}

// Settings Label
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(5) > div.item-inner > div > ion-label {
  font-size: 1.5rem !important;
}

// Settings Icon
#contentAnimation > div.scroll-content > ion-list > ion-item > div.item-inner > div > ion-label > button:nth-child(5) > div.item-inner > div > ion-label > ion-icon {
  padding-right: 3rem !important;
  color: #8B8B8B !important;
  font-size: 2rem !important;
}

// Animation Snelheid
#contentAnimation  {
animation-duration: 950ms !important;
}

.uitloggen {
  background-color: #4f000b !important;
}

// Ios
#contentAnimation > div.scroll-content::before {
  bottom: 0px !important;
}

// Android Background Menu
.content-md {
  background-color:  transparent !important;
}

.md .menu-inner {
    background-color:  transparent !important;
}

ion-app.md {
    background-color:  transparent !important;
}


// Ios Background Menu

.content-ios {
  background-color:  transparent !important;
}

.ios .menu-inner {
    background-color:  transparent !important;
}

ion-app.ios {
    background-color:  transparent !important;
}
///////////////////////////////////////////////

// Shadow van menu android
.md ion-menu[type=overlay] .menu-inner {
  box-shadow: none !important;
}

// Shadow van menu ios
.ios ion-menu[type=overlay] .menu-inner {
  box-shadow: none !important;
}
