// Register Button
.registerButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}

.homeButton {
  margin: 0% !important;
  background-color: #00000066 !important;
  border-radius: 0 !important;
  width: 50% !important;
}

ion-grid {
  height: 100%;
  justify-content: center;
}

.center {
  text-align: center;
}

body > ion-app > ng-component > ion-nav > page-register > ion-grid > ion-row > ion-col > ion-fab {
  margin-top: 3vh !important;
}

fab-content-margin {
  margin-top: 4vh;
}

#terugbutton
{
  background-color: navy;
}

.text-alignment-center {
  text-align: center !important;
}

.ion-page {
  background-color: white;
}

.ios .ion-page.show-page ~ .nav-decor {
  background-color: white !important;
}

.grid {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebeeef;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

body > ion-app > ng-component > ion-nav > page-register > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div > div > ion-title > div {
  color: white;
}

.geheel {
  background-color: white;
  height: 70%;
  border-radius: 10px;
}

.geheel2 {
  background-color: white;
  border-radius: 10px;
  height: 70%;
  margin-bottom: 15%;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0px 74px 0px;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

.form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

.button3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 20px;
  margin-top: 30px;
  width: 50%;
}

.txt3 {
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  padding-left: 15px;
}

.center {
  text-align: center;
}

ion-grid {
  height: 100%;
  justify-content: center;
}

.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0px 0px 0px !important;

}

.form-title1 {
  color: #ffffff !important;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

// Background color
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

// Login text
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > ion-title > div {
  color: white !important;
  padding-top: 2rem !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: right;
  padding-right: 10px;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
  float: left;
  margin-left: 15px;
  margin-top: 15px;

}


.geheel {
  background-color: white;
  height: 70%;
  border-radius: 10px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  transition: all 0.4s;
  margin-left: 15px;
  margin-top: 30px;
}

// scroll content
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content {
  background-color: #ebeeef;
}

.geheel {
  background-color: white;
  height: 70%;
  border-radius: 10px;

}
.geheel2 {
  background-color: white;
  border-radius: 10px;
  height: 70%;
  margin-bottom: 15%;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}
.form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 15px 74px 15px;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding-bottom: 0;
}

body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid {
  background: #ebeeef;
  padding: 10px;
}

// Row van buttons
body > ion-app > ng-component > ion-nav > page-home > ion-content > div.scroll-content > ion-grid > ion-row > ion-col > div.loginFoto > div > div {
padding-top: 50px !important;
  width: 100%;
}