<!-- SplashScreen -->
<ion-grid style="height: 100%" class="gridPadding">
  <ion-row justify-content-center align-items-center style="height: 100%" *ngIf="showSplash" class="splash">
    <div class="spinner">
      <div class="NewsAgeLogo">
        <img class="NewsAge" src="../assets/imgs/NewsAgeLogo.png">
      </div>
      <div class="loader">
        <img src="../assets/svg/spinner/tail-spinSplash.svg">
      </div>
    </div>
  </ion-row>
</ion-grid>
<!--  -->
<!-- Menu -->
<ion-menu [class]="selectedTheme" [content]="content" [swipeEnabled]="false">
    <ion-content id="contentAnimation">
        <ion-list>
            <ion-navbar class="menuNavbar">
                <ion-grid class="gridMenu">
                    <ion-col col-9 class="menuCol">
                        <img src="{{this.profilepicture}}" class="avatar-menu"/>
                        <p ngClass="usernameMenu">{{this.username}}</p>
                    </ion-col>
                </ion-grid>
            </ion-navbar>
            <ion-item ion-item *ngFor="let p of pages;  let i=index" (click)="openPage(p, i);">
               <ion-icon slot="start" [name]="p.icon"></ion-icon>
                <span ion-text class="menuTitle">
                      {{p.title}}
                      <span><ion-icon [name]="selectedMenu == i? 'arrow-dropdown' : 'arrow-dropright'" *ngIf="p.subPages" float-right></ion-icon></span>
                </span>
                <!--Child Pages  -->
                <ion-list no-lines [hidden]="selectedMenu != i">
                    <ion-item no-border *ngFor="let subPage of p.subPages;let i2=index" text-wrap
                              (click)="openPage(subPage)">
                         <ion-icon slot="start" [name]="subPage.icon"></ion-icon>
                        <span ion-text color="color2">&nbsp;{{subPage.title}}</span>
                    </ion-item>
                </ion-list>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer class="footerMenu">
        <ion-toolbar class="toolbarFooter">
            <div class="versienummer"><span class="newsAgeFooter">©NewsAge </span><span class="versionnummer">v</span>8.1.3</div>
        </ion-toolbar>
    </ion-footer>
</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" [class]="selectedTheme" #content swipeBackEnabled="false"></ion-nav>
