page-tutorial {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slider {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction:column;
  }

  .kaas {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  .tutorialIcon {
    font-size: 80px !important;
  }
h2{
  margin-top: 7px !important;
}
  b {
    font-weight: 500;
    color: #000000;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;
  }

  .sliderSources {
      height: 100% !important;
      width: 100% !important;
      display: flex !important;
  }

}
