<ion-header no-border-bottom>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Tutorial</ion-title>
        <ion-buttons class="skipButton" end>
            <button ion-button icon-only (click)="tutorialDone()">
                <span class="skipButtonText">SKIP</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="tutorial-page">
    <ion-slides pager>
        <ion-slide class="slider">

            <img class="tutorialFoto1" src="../assets/imgs/tutorial1.png">
            <h2 class="slide-title">NewsAge</h2>
            <p>Welkom, u bevind zich nu op de tutorial pagina. Hier vertellen wij kort wat je moet weten over de
                app.</p>
        </ion-slide>
        <ion-slide class="slider">
            <img class="tutorialFoto1" src="../assets/imgs/tutorial2.png">
            <h2 class="slide-title">Bronnen</h2>
            <p>
                In bronnen kunt u uw favoriete nieuws volgen. Dit doet u door
                in het menu op Bronnen te klikken. Op de volgende pagina kunt
                u een paar bronnen toevoegen naar uw keuze.
            </p>
        </ion-slide>
        <ion-slide class="sliderSources">
            <ion-item class="sourceItem">
                <ion-avatar class="avatarTelegraafSources" item-start>
                    <img src="../assets/svg/Telegraaf.svg">
                </ion-avatar>
                <div><b class="sourceTekstFeed">De Telegraaf</b></div>
                <div class="sourceTekst">Nieuwsfeed</div>
                <button ion-button outline item-end class="ImportClassesButton" *ngIf="TGF == 0"
                        (click)="subscribeSource('De Telegraaf')">
                    <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                    Toevoegen
                </button>
                <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="TGF == 1"
                        (click)="unsubscribeSource('De Telegraaf')">
                    <ion-icon name="close" class="buttonIcon"></ion-icon>
                    Verwijderen
                </button>
            </ion-item>
            <ion-item class="sourceItem">
                <ion-avatar class="avatar" item-start>
                    <img class="avatar-feedNU" src="../assets/svg/nu.nl.svg">
                </ion-avatar>
                <div><b class="sourceTekstFeed">NU.nl</b></div>
                <div class="sourceTekst">Nieuwsfeed</div>
                <button ion-button outline item-end class="ImportClassesButton" *ngIf="NUNL == 0"
                        (click)="subscribeSource('NU.NL')">
                    <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                    Toevoegen
                </button>
                <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="NUNL == 1"
                        (click)="unsubscribeSource('NU.NL')">
                    <ion-icon name="close" class="buttonIcon"></ion-icon>
                    Verwijderen
                </button>
            </ion-item>
            <ion-item class="sourceItem">
                <ion-avatar class="avatar" item-start>
                    <img src="../assets/svg/NOS_logo.svg">
                </ion-avatar>
                <div><b class="sourceTekstFeed">NOS</b></div>
                <div class="sourceTekst">Nieuwsfeed</div>
                <button ion-button outline item-end class="ImportClassesButton" *ngIf="NOS == 0"
                        (click)="subscribeSource('NOS')">
                    <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                    Toevoegen
                </button>
                <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="NOS == 1"
                        (click)="unsubscribeSource('NOS')">
                    <ion-icon name="close" class="buttonIcon"></ion-icon>
                    Verwijderen
                </button>
            </ion-item>
            <ion-item class="sourceItem">
                <ion-avatar class="avatar" item-start>
                    <img class="avatarTWKS" src="../assets/svg/Tweakers.svg">
                </ion-avatar>
                <div><b class="sourceTekstFeed">Tweakers</b></div>
                <div class="sourceTekst">Tech</div>
                <button ion-button outline item-end class="ImportClassesButton" *ngIf="TWKS == 0"
                        (click)="subscribeSource('Tweakers')">
                    <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                    Toevoegen
                </button>
                <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="TWKS == 1"
                        (click)="unsubscribeSource('Tweakers')">
                    <ion-icon name="close" class="buttonIcon"></ion-icon>
                    Verwijderen
                </button>
            </ion-item>
            <ion-item class="sourceItem">
                <ion-avatar class="avatar" item-start>
                    <img src="../assets/svg/knvb.svg">
                </ion-avatar>
                <div><b class="sourceTekstFeed">KNVB</b></div>
                <div class="sourceTekst">Sport</div>
                <button ion-button outline item-end class="ImportClassesButton" *ngIf="KNVB == 0"
                        (click)="subscribeSource('KNVB')">
                    <ion-icon name="checkmark" class="buttonIcon"></ion-icon>
                    Toevoegen
                </button>
                <button ion-button outline item-end color="danger" class="DeleteClassesButton" *ngIf="KNVB == 1"
                        (click)="unsubscribeSource('KNVB')">
                    <ion-icon name="close" class="buttonIcon"></ion-icon>
                    Verwijderen
                </button>
            </ion-item>
        </ion-slide>
        <ion-slide class="slider">
            <img class="tutorialFoto1" src="../assets/imgs/tutorial3.png">
            <h2 class="slide-title">
                Delen met uw vrienden!
            </h2>
            <p>
                Deel gemakkelijk alle artikelen met je vrienden op elk social media platform!
            </p>
        </ion-slide>
        <ion-slide class="slider">
            <img class="tutorialFoto1" src="../assets/imgs/tutorial4.png">
            <h2 class="slide-title">
                Vragen?
            </h2>
            <p>
                Als u verder nog vragen hebt over de app, kunt u ze mailen naar ons via: newsage2018@gmail.com
            </p>
        </ion-slide>
        <ion-slide class="sliderDoorgaan">
            <h2 class="slide-title">Bent u er klaar voor?</h2>
            <button ion-button large clear icon-end color="primary" (click)="tutorialDone()">
                Doorgaan!
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>
