<ion-header>
  <ion-navbar>
    <button ion-button left class="BackButton" (click)="returnFeed()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title class="fakePadding">Comments</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let comment of comments">
    <ion-avatar class="avatar" item-start>
      <img src="{{comment.profilepicture}}" class="avatar-profiel"/>
    </ion-avatar>
    <p class="commentUsername">{{comment.username}}<span class="commentDate">{{comment.commentDate}}</span></p>
    <p><span class="breakText">{{comment.comment}}</span></p>
    <button ion-button color="danger" item-right *ngIf="userId == comment.userCommentID" (click)="deleteComment(comment.commentId)"><ion-icon name="trash"></ion-icon></button>
  </ion-item>

</ion-content>
<ion-footer>
  <ion-item>
    <ion-avatar class="avatar" item-start>
      <img src="{{pictureprofile}}" class="avatar-profiel" />
    </ion-avatar>
    <ion-input placeholder="Reageer als {{this.username}}.." [(ngModel)]="comment"></ion-input>
    <button ion-button class="sendButton" (click)="postComment()" item-end>
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
